<style>
    section#bigimg {
        height: 350px;
        background: <%- page.bigimg %>;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .posttitle {
        color: white;
        text-shadow: 0 0 40px #000000;
    }

    small {
        color: white !important;
        text-shadow: 0 0 20px #000000;
    }

    .night .frpanel {
        background: #000000;
    }

    .page-header {
        margin: 40px 0 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }

    .post-content {
        background: white;
        padding: 15px;
    }

    .night .post-content {
        background: #000000;
        padding: 15px;
    }

    @media (min-width: 768px) {
        section#bigimg {
            height: 350px !important;
        }
    }

    section#bigimg {
        height: 240px;
    }

    .col-md-3 {
        top: 200px;
    }

    .container {
        position: relative;
        top: -240px;
    }

    .night .shaw {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    /*.container-fri {
        background-color: white;
    }*/
</style>
<div class="shaw"></div>