<style>
    section#bigimg {
        height: 350px;
        background: <%- page.bigimg %>;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .night .col-md-9,
    .night .col-md-12,
    .night .container-fri {
        background: #000000;
    }

    .col-md-9,
    .col-md-12 {
        background: white;
    }

    @media (min-width: 768px) {
        section#bigimg {
            height: 350px !important;
        }
    }

    section#bigimg {
        height: 240px;
    }

    .col-md-3 {
        top: 200px;
    }

    .container {
        position: relative;
        top: -240px;
    }

    .night .shaw {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .container-fri {
        background-color: white;
    }
</style>
<div class="shaw"></div>