<style>
    section#bigimg {
        height: 350px;
        background: <%- page.bigimg %>;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .night .col-md-9,
    .night .col-md-12 {
        background: #000000;
    }

    .col-md-9,
    .col-md-12 {
        background: white;
    }

    .col-md-3 {
        top: 200px;
    }

    .container {
        position: relative;
        top: -240px;
    }

    .night .shaw {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>
<div class="shaw"></div>