<div class="panel panel-default">
    <div class="panel-body">
        <div id="disqus_thread"></div>
    </div>
</div>
<script>
    var disqusload = function () {
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://<%= theme.comment.disqus.shortname %>.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    }
    </script>
        <% if (theme.comment.disqus.lazyload) { %>
        <script id="loaddisqus" src="/js/disqus-lazyload.js"></script>
        <% } else { %>
        <script>
        disqusload();
        </script>
        <% } %>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>