<div id="footer">Copyright © <%- theme.sitesince %> - <%- date(Date.now(), 'YYYY') %> <a href="/." rel="nofollow"><%- config.title %>.</a><br><a rel="nofollow"
        target="_blank" href="https://hexo.io"> Hexo </a> -<a rel="nofollow" target="_blank"
        href="https://github.com/johnpoint/hexo-theme-XvA"> Theme</a>.</div>
<script>hljs.initHighlightingOnLoad();</script>
<% if(theme.analytics.google.enable){ %><%- partial('gtag') %><% } %>