<div id="footer">Copyright © 2017 - 2019 <a href="/." rel="nofollow"><%- config.title %>.</a><br><a rel="nofollow"
                target="_blank" href="https://hexo.io"> Hexo </a> -<a rel="nofollow" target="_blank"
                href="https://github.com/johnpoint/hexo-theme-XvA"> Theme</a>.</div>
<% if(theme.analytics.google.enable){ %><%- partial('gtag') %><% } %>