<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= config.title %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <% for (name in theme.menu) { %>
                <% if('/'+page.path.replace('/index.html','')==url_for(theme.menu[name])){ %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="<%- url_for(theme.menu[name]) %>"><%= __(name) %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>